*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --bg:#323437;
    --card:#2c2e31;
    --text:#d1d0c5;
    --sub:#646669;
    --yellow:#e2b714;
    --hover:#3a3d40;
    --green:rgb(116, 235, 116);
}

body{
    min-height:100vh;
    background:var(--bg);
    color:var(--text);
    font-family:Roboto, Arial, sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:2rem;
}

.container{
    width:min(1000px,95%);
}


header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:2rem;
}

h1{
    color:var(--yellow);
    font-size:2rem;
    font-weight:700;
    text-transform:lowercase;
}

.settings{
    display:flex;
    gap:.75rem;
}

.time-btn{
    border:none;
    background:none;
    color:var(--sub);

    font-size:1rem;
    cursor:pointer;

    transition:.2s;
}

.time-btn:hover{
    color:var(--text);
}

.time-btn.active{
    color:var(--yellow);
}

.stats{
    display:flex;
    gap:2rem;
    flex-wrap:wrap;
    margin-bottom:2rem;
}

.card{
    display:flex;
    flex-direction:column;
}

.label{
    color:var(--sub);
    font-size:.9rem;
}

.card span:last-child{
    color:var(--yellow);
    font-size:2rem;
    font-weight:700;
}


.progress-wrapper{
    width:100%;
    height:4px;
    background:#444;
    margin-bottom:2rem;
    border-radius:50px;
}

#progressBar{
    width:0%;
    height:100%;
    background:var(--yellow);
    transition:.2s;
}

.typing-wrapper{
    position:relative;
    width:100%;
    min-height:220px;
    margin-bottom:2rem;
}

.text-container{
    position:relative;
    width:100%;
    min-height:220px;
    padding:1rem;

    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
}

#paragraph{
    width:100%;

    font-size:2rem;
    line-height:1.8;

    color:rgba(209,208,197,.35);

    user-select:none;
    white-space:pre-wrap;
    word-break:break-word;
}

/* invisible typing layer */
#typingInput{
    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    resize:none;

    background:transparent;
    border:none;
    outline:none;

    color:transparent;

    /* caret-color:var(--yellow); */
    caret-color: transparent;
    font-size:2rem;
    line-height:1.8;

    overflow:hidden;
}

/* hide placeholder */
#typingInput::placeholder{
    color:transparent;
}

#typingInput:focus{
    outline:none;
}

.controls{
    display:flex;
    gap:1rem;
    margin-bottom:2rem;
}

.controls button{
    border:none;
    background:var(--card);
    color:var(--text);
    padding:.8rem 1.4rem;
    border-radius:.5rem;
    cursor:pointer;
    transition:.2s;
}

.controls button:hover{
    background:var(--hover);
}


.results{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:1rem;
}

.result-box{
    background:var(--card);
    border-radius:12px;
    padding:1.5rem;
}

.result-box h3{
    color:var(--sub);
    font-weight:400;
    margin-bottom:.5rem;
}

.result-box p{
    color:var(--yellow);
    font-size:2rem;
    font-weight:700;
}


.correct{
    color:var(--green);
}

.wrong{
    color:#ca4754;
}

.current{
    color:var(--text);
    position:relative;
}

.current::after{
    content:"";
    position:absolute;

    left:0;
    top:-2px;

    width:2px;
    height:1.2em;

    background:var(--yellow);

    animation:blink 1s infinite;
}

@keyframes blink{
    0%,50%{
        opacity:1;
    }

    51%,100%{
        opacity:0;
    }
}

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:1rem;
        align-items:flex-start;
    }

    .stats{
        gap:1rem;
    }

    #paragraph{
        font-size:1.4rem;
    }

    .results{
        grid-template-columns:1fr;
    }
}

